<div class="grid -middle -center" ...attributes>

  <div class="cell -6of12 text-center">
    <p><strong>The Story of Goldilocks and The Three Bears</strong></p>
    <p>Read Along With Me</p>
    <p>Award Publications LTD</p>
    <p>1985</p>
  </div>

  <img
    class="cell -6of12"
    src="{{this.rootURL}}goldilocks.jpeg"
    alt="A young girl running from a house with three bears looking out from
      the front door"
    width="256"
    height="192"
  >

</div>
