<div ...attributes>

  <p>
    When yo lay in this bed you begin to sink down and the blankets almost
    smother you. This bed is just too soft.
  </p>

  <p>
    You won't be able to get any rest unless you try a different bed.
  </p>

</div>
