@import 'modal.css';
@import 'hack-nav.css';
@import 'theme-picker.css';

.hack.default {
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}

.btn-icon {
  padding: 0 6px;
  font-size: 2rem;
}

.hack .site-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.site-footer > * {
  margin-right: 10px;
}
