@import 'nav.css';
@import 'modal.css';

.text-center {
  text-align: center;
}

.history-report .item {
  display: flex;
  justify-content: space-between;
}

.btn-icon {
  padding: 0 6px;
  font-size: 2rem;
}
