.main-nav {
  font-size: 1.2rem;
  display: flex;
  align-items: top;
}

.main-nav ul {
  display: inline;
  list-style: none;
}

.main-nav ul::before {
  content: '{';
}

.main-nav ul::after {
  content: '}';
}

.main-nav ul {
  display: inline;
  list-style: none;
}

.main-nav li {
  display: inline;
}

.hack .main-nav li {
  padding-left: 0;
}

.hack .main-nav ul > li::after {
  content: none;
}

.hack .main-nav ul > li::before {
  content: '| ';
}

.hack .main-nav ul > li:first-child::before {
  content: none;
}

.main-nav .active {
  font-weight: bold;
}

.main-nav .active::before {
  content: '[';
}

.main-nav .active::after {
  content: ']';
}
