<h2>Introduction</h2>

<ModalWorkspace as |workspace|>

  <p>
    I've developed and iterated on the management of modal dialog popups. This
    site is a showcase for those ideas.
  </p>

</ModalWorkspace>
