<div class="hack container">

  <nav class="main-nav">
    <ul>
      <li><LinkTo @route="basic-modals">Basic Modals</LinkTo></li>
      <li>
        <LinkTo @route="wizard-modals">Wizard Modals</LinkTo>
        <ul>
          <li><LinkTo @route="wizard-modals.historical">Historical</LinkTo></li>
          <li><LinkTo @route="wizard-modals.persistant">Persistant</LinkTo></li>
        </ul>
      </li>
    </ul>
  </nav>

  <h1>Modal Dialogs Guide</h1>

  {{outlet}}

</div>