<div ...attributes>

  <p>
    The bed is so comfortable that you waste no time falling asleep.
  </p>

  <p>
    You wake with a start as three bewildered bears hover over you menacingly.
  </p>

  <p>
    With such a fright you scream, leap from the bed, and race out of the house
    not slowing a bit. You steal glance back at the house to see the three
    bears streaming out of the front door looking around in confusion.
  </p>

  <p>
    <strong>THE END</strong>
  </p>

</div>
