<h2>Wizard Modals</h2>

{{#if this.modalManager}}
  <button
    class="btn btn-primary"
    {{on "click" (fn this.modalManager.open undefined)}}
  >
    Read &rdquo;Goldilocks and the Three Bears&ldquo;
  </button>
{{/if}}

<GoldilocksStoryModal
  class="animated flipInY"
  @currentState={{this.currentState}}
  @onTransition={{fn (mut this.currentState)}}
  @registerManager={{fn (mut this.modalManager)}}
/>
