<div ...attributes>

  <p>
    You toss and turn. Evey way you lay it feels like you are on a stone slab.
    This bed is just too hard.
  </p>

  <p>
    You won't be able to get any rest unless you try a different bed.
  </p>

</div>
