<div ...attributes>
  <p>
    You went for a walk in the forest. Pretty soon, you came upon a strange
    house. You knock only to discover no one is home.
  </p>

  <p>
    Do you want to go in?
  </p>

</div>
